ThesisWebsite/App_WebReferences/localhost/WCFServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsTesting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsTesting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55992/WCFServiceLibrary.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WebserviceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="List" nillable="true" type="tns:ArrayOfWebservice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebserviceList" nillable="true" type="tns:WebserviceList" />
  <xs:complexType name="ArrayOfWebservice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Webservice" nillable="true" type="tns:Webservice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebservice" nillable="true" type="tns:ArrayOfWebservice" />
  <xs:complexType name="Webservice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebserviceBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Input" nillable="true" type="q1:ArrayOfstring" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InputType" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Output" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputType" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Webservice" nillable="true" type="tns:Webservice" />
  <xs:complexType name="WebserviceBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Documentation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebserviceBase" nillable="true" type="tns:WebserviceBase" />
  <xs:complexType name="WebserviceBaseList">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseList" nillable="true" type="tns:ArrayOfWebserviceBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebserviceBaseList" nillable="true" type="tns:WebserviceBaseList" />
  <xs:complexType name="ArrayOfWebserviceBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebserviceBase" nillable="true" type="tns:WebserviceBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebserviceBase" nillable="true" type="tns:ArrayOfWebserviceBase" />
</xs:schema>